{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2 class="text-center">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>
{% form_theme form ":Form:fields.html.twig" %}
<form action="{{ url('fos_message_thread_new') }}" method="post" class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-success"  type="submit" >{{ 'send'|trans }}</button>
        </div>
    </div>
</form>

{% endblock %}
