.fixed-header{
    height: 60px;
}
#map-canvas {
    height: 500px;
    width: 500px;
    margin: 0px;
    padding: 0px
}
#directions-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

