html,body{
    height: 100%;

}
#map-canvas, #map-user-canvas {
    height: 500px;
    width: 100%;
    margin: 0px;
    padding: 0px
}
#map-main{
    width: 100%;
    height: 600px;
}
#map-user-canvas{
    width: 400px;
    height: 400px;
}
.invisible {
    visibility: hidden;
}

.cursor:hover {
    cursor: pointer;
}

#main {
    overflow: auto;
    padding-bottom: 190px;
    min-height: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(150, 158, 153, 0.78);
    -moz-box-shadow: 0px 0px 10px 0px rgba(150, 158, 153, 0.78);
    box-shadow: 0px 0px 10px 0px rgba(150, 158, 153, 0.78);
}

footer {
    position: relative;
    margin-top: -160px;
    height: 190px;
    clear: both;
    padding-top: 10px;
    background-color: #86BA17;
    max-width: 1000px;
    margin: 0 auto;
}

.img-sm{
    width:50px;
    height: 50px;
}
.img-lg{
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}
.user-review{
    margin-bottom: 20px;
    border-bottom: 2px solid #FF7963;

}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.margin-bottom-10{
 margin-bottom: 10px;
}
.v-center{
    padding-top: 10%;
}

.logo{
    display: block;
    padding: 10px;
}
.logo > img{
    width: 32px;
}

.form-search .input-group > .input-group-addon {
    padding: 0 10px;
    background-color: #ffffff;
}

.form-search .input-group > .input-group-addon > img {
    width: 32px;
}

.form-search {
    background: url('../img/background-homepage-search.png');
    height: 358px;
    position: relative;
    margin-left: -15px;
    max-width: 1000px;
    background-size: 100%;
}

.form-search > form {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.container {
    max-width: 1000px;
}

.home-offer {
    background: none repeat scroll 0 0 #4BB9F8;
    float: right;
    height: 170px;
    left: 20px;
    width: 190px;
}

.home-offer > h4 {
    color: #ffffff;
    margin-left: 15px;
}

.home-offer > h4:last-child {
    margin-left: 50px;
}

header {
    border-radius: 0 !important;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 0 !important;
}

.driver {
    background: url('../img/driver-post-trip.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    margin: 26px auto;
    width: 133px;
}

.footer-list li {
    border-top: 1px solid #9ACC17;
    font-weight: bold;
    line-height: 18px;
    padding: 8px 4px;
}

.footer-list li:first-child {
    border-top: 0;
}

.footer-list li > a {
    color: #000000;
}

.footer-header {
    background: none repeat scroll 0 0 #538717;
    height: 30px;
    margin-left: -1%;
    width: 102%;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 5px;;
}

.footer-header .col-sm-4:first-child {
    padding-left: 28px;
}

.right-triange {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #244217;
    border-style: solid;
    border-width: 0 0 10px 10px;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 0;
}

.left-triange {
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #244217;
    height: 0px;
    right: -10px;
    position: absolute;
    top: 0;
    width: 0px;
}