{% form_theme form ':Form:fields.html.twig' %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
      class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"
                   class="btn btn-primary btn-block"/>
        </div>
    </div>
</form>
