{% extends "::base.html.twig" %}

{% block title %}PodorozhnikiMainBundle:Rides:getRides{% endblock %}

{% block body %}
<h1>Welcome to the Rides:getRides page</h1>
    {% for ride in rides %}
        <div class="container">
        {{ include('PodorozhnikiMainBundle:Rides:getRide.html.twig') }}
        </div>
{% endfor %}
{% endblock %}
