{% extends '::base.html.twig' %}

{% block body %}
   {% form_theme form 'ApplicationSonataUserBundle:Form:fields.html.twig' %}
    <div class="row">
        <div class="col-md-6">
            {{ form(form,{'attr':{'class':'form-horizontal'}}) }}
        </div>

    <div class="col-md-6">
        <div id="map-canvas"></div>
    </div>
    </div>
    <div id="directions-panel"></div>
{% endblock %}