{% extends '::base.html.twig' %}

{% block body %}
    {% form_theme form ':Form:fields.html.twig' %}
    <div class="row">
        <div class="col-md-6">
            {{ form(form,{'attr':{'class':'form-horizontal'}}) }}
        </div>

    <div class="col-md-6">
        <div id="map-canvas" class="hidden-xs"></div>
    </div>
    </div>
{% endblock %}